* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: DimGray;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

nav {
    background-color: white;
    border-bottom: 2px solid black;
    padding: 10px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

nav ul li a:hover {
    color: dimgray;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 60px auto 60px auto; /* Center the container */
}

header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
}

header p {
    font-size: 1rem;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid black;
    margin-bottom: 20px;
    font-size: 1rem;
    outline: none;
}

input[type="text"]:focus {
    border-color: black;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: dimgray;
}

.results {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.results h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.results ul {
    list-style-type: none;
    padding-left: 0;
}

.results li {
    padding: 5px 0;
    font-size: 1.1rem;
    text-align: center;
}

/* Footer */
footer {
    background-color: white;
    padding: 20px;
    border-top: 2px solid black;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}
