<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Service - Fuel Hound</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/terms-of-service">Terms of Service</a></li>
            <li><a href="/api/docs">API </a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Terms of Service</h1>
        <p>By using Fuel Hound, you agree to the following terms:</p>

        <h2>Use of Data</h2>
        <p>Fuel Hound uses your postcode to provide the cheapest fuel prices in your area. We do not sell or share your data with third parties.</p>

        <h2>Disclaimer</h2>
        <p>Fuel prices listed are indicative and may vary. We do not guarantee the accuracy or availability of the prices listed.</p>

        <h2>Limitation of Liability</h2>
        <p>We are not liable for any losses incurred as a result of inaccurate fuel pricing or incorrect location data.</p>

        <h2>Arbitration Clause</h2>
        <p>Any disputes or claims arising from or relating to your use of Fuel Hound, including disputes related to these terms, shall be resolved through binding arbitration. The arbitration will take place in a location agreed upon by both parties, and will be governed by the laws of the United Kingdom. Both parties waive their right to a jury trial or to participate in class action litigation.</p>

        <h2>Contact Us</h2>
        <p>If you have any questions about these terms, please contact us at: <a href="mailto:lawri@lawridarbyshire.co.uk">lawri@lawridarbyshire.co.uk</a></p>
    </div>

    <!-- Footer -->
    <footer>
        <div class="footer-content">
            <p>&copy; 2025 Fuel Hound Owned By Lawri Darbyshire. All rights reserved.</p>
            <P>Lawri Darbyshire is A Member Of the <a href="https://dynapound.com">DynaPound</a> Open Source Project. This Project is a  SubProject of <a href="https://dynapound.com">DynaPound</a> </P>
            <p><a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-of-service">Terms of Service</a></p>
        </div>
    </footer>
</body>
</html>
